{% extends "main.twig" %}

{% block content %}
  <div id="resume-header" class="row">
    <div class="col-3">
      <img id="profile-picture" src="{{ user.getImage(user.name) }}" height="255" width="255">
    </div>
    <div class="col">
      <h1>{{ user.name }} {{ user.lastname }}</h1>
      <h2>{{ user.title }}</h2>
      <ul>
        {% for info in information %}
          {% if info.link %}
            <li>{{ info.label }}: <a href="{{ info.value }}">{{ info.value }}</a></li>
          {% else %}
            <li>{{ info.label }}: {{ info.value }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="border-bottom-gray" >Carrer Summary</h2>
      <p>{{ user.summary|nl2br }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <h3 class="border-bottom-gray" >Work Experience</h3>
          {% for job in jobs %}
            <div class="row work-position">
              <div class="col-3">
                <img src="{{ job.getImage(job.title) }}" height="180" width="180"/>
              </div>
              <div class="col">
                <h5>{{ job.title }} - {{ job.company }}, {{ job.city }}</h5>
                <p>{{ job.description }}</p>
                {% if job.working %}
                  <p><b>{{ job.started_at }} - Present</b></p>
                {% else %}
                  <p><b>{{ job.started_at }} - {{ job.finished_at }}</b></p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
      </div>
      <br>
      <div>
        <h3 class="border-bottom-gray">Projects</h3>
          {% for project in projects %}
            <div class="row work-position">
              <div class="col-3">
                <img src="{{ project.getImage(job.title) }}" height="180" width="180"/>
              </div>
              <div class="col">
                <h5>{{ project.title }}</h5>
                <p>{{ project.description }}</p>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
    <div class="col-3">
      <h3 class="border-bottom-gray" >Skills & Tools</h3>
      <br>
      {% for skill in skills %}
        <h4>{{ skill.title }}</h4>
        {% for i in 1..5 %}
          {% if i <= skill.level %}
            <span class="fa fa-star checked"></span>
          {% else %}
            <span class="fa fa-star"></span>
          {% endif %}
        {% endfor %}<br>
        <p>{{ skill.description }}</p><br>
      {% endfor %}
    </div>
  </div>
  <div id="resume-footer" class="row">
    <div class="col">
      <br><br>
      <p>Designed by Samuel Rolon Cicciari</p>
    </div>
  </div>
{% endblock %}