{% extends "main.twig" %}

{% block content %}
  <h1>Jobs</h1>
  <div class="alert alert-primary" role="alert">
    {{ responseMessage }}
  </div>
  <div class="table-responsive">  
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th><h4>Title</h4></th>
          <th><h4>Company</h4></th>
          <th><h4>Started</h4></th>
          <th><h4>Finished</h4></th>
          <th><h4>Image</h4></th>
        </tr>

        {%  for job in jobs %}
          <tr> 
            <td> {{ job.title }} </td>
            <td> {{ job.company }} </td>
            <td> {{ job.started_at }} </td>
            {% if job.working %}
              <td>Present</td>
            {% else %}
              <td>{{ job.finished_at }}</td>
            {% endif %}
            <td> <img src="{{ job.getImage(job.title) }}" alt="" width="75" height="75" /> </td>
            <td> <a href='jobs/edit?id={{job.id_job }}'>Edit</a> </td>
            <td> <a href='jobs/delete?id={{job.id_job }}'>Delete</a> </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}